.body {
	min-width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.navbar {
	width: 100%;
	height: 100%;
	border-bottom: 1px solid lightgray;
}

.navbar-content {
	display: flex;
	justify-content: center;
	gap: 6rem;
	list-style: none;
}

.navlinks {
	font-weight: 600;
	cursor: pointer;
	color: black;
	transition: all 0.2s ease-in-out;
	text-decoration: solid;
}

.navlinks:hover,
.active {
	color: grey;
}

.content {
	height: 100%;
	display: flex;
	flex-direction: column;
	max-width: 940px;
	margin: 0 auto;
	padding: 2rem 1rem;
}
